/* primary: #D9E1D8 (light green)
   secondary: #195C52 (dark green
   font-family: 'Work Sans', sans-serif;
   font-family: 'Caveat', cursive;*/
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: #288cff; */
    color: #4e8d53;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;


}

body {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



section {
    display: flex;
    flex-direction: row;
    /* height: calc(100% - 109px); */
    height: 72%;

    min-width: 1011px;
    padding-left: 30px;
    padding-right: 30px;



}

#planner {
    flex-grow: 4;
    /* border-right: 2px solid; */
    text-align: center;
    height: 100%;
    width: 80%;
    box-sizing: border-box;

}

#planner h2 {

    border-bottom: 2px solid;
    margin: 0px;
    padding: 20px;
}

#grocList {
    width: 20%;
    box-sizing: border-box;
    height: 100%;


}

#grocList h2 {
    text-align: center;

    width: 100%;
}

table {
    width: 100%;
    height: 100%;
    border-spacing: 0px;
    box-sizing: border-box;

}

th {
    width: calc(100%/8);
    height: 35%;
}



#firstRow th {
    height: 30px;
}

td {
    padding: 10px;
    box-sizing: border-box;
}



.card {
    border-radius: 5px;
    width: 100%;
    min-width: 80px;
    height: 100%;
    background-color: #f9f9f9;
    color: #292929;
    box-sizing: border-box;
    padding: 8%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-family: 'Caveat', cursive;
    /* font-family: 'Work Sans', sans-serif; */
    resize: none;
    font-size: 20px;
    /* text-align: center; */
    overflow: hidden;
    line-height: 19px;
    vertical-align: middle;
    transition: box-shadow 0.1s linear;


}

.card:hover {
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: box-shadow 0.1s linear;

}

.card:focus {
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: box-shadow 0.1s linear;
}

.smaller {
    width: calc(100%/12);
}

#foglio {
    height: calc(100% - 28px);
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.listaSpesa {
    height: 100%;
    width: 100%;
    resize: none;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 20px;
    font-size: 24px;
    color: #24301e;
    background-color: #e9d7bc;
    font-family: 'Caveat', cursive;
    /* min-width: 240px; */
}

.listaSpesa:focus {
    border: none;
    outline: none;
}

#footer {
    height: 4%;
    background-color: #25272c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

#footer p {
    color: rgb(255, 255, 255);
    width: 60%;
    text-align: center;
}

#footer p a {
    text-decoration: none;
    color: #c79200;
}

#spazio {
    width: 20%;
}


@media screen and (max-width: 1280px) {
    .card {
        font-size: 18px;
        line-height: 16px;
    }

    .listaSpesa {
        font-size: 20px;
    }
}

@media screen and (max-width: 1045px) {

    .card {
        font-size: 16px;
        line-height: 14px;
    }

    .listaSpesa {
        font-size: 18px;
    }
}

.LMHeader img {
    width: 35%;
    min-width: 390px;
    max-width: 550px;
    height: auto;
    margin-bottom: 20px;
}



.LMHeader {
    /* background-color: #75aa7b; */
    background-color: #25272c;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21%;
}

.LMBackground {
    /* background-color: #f0fff1; */
    background-color: #ff711f;
}

.LMText {
    color: #812f00;
}

.LMCard {
    background-color: #292929;
}






.DMHeader {
    background-color: #20202200;
}

.DMBackground {
    background-color: #25272c;
}

.DMText {
    /* color: #d1d1d1; */
    color: #e4a00d;
}

.DMCard {
    background-color: #1a1a1a;
    color: white;
}

.DMLista {
    background-color: #1f2125;
    color: white;
}

.switchBtn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.darkModeSection {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    gap: 4px;

}

.darkModeSection p {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;

}

.switchBtn input {
    appearance: none;
    visibility: hidden;
    display: none;
}

.check {
    position: absolute;
    display: block;
    width: 40px;
    height: 20px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;

}

.switchBtn input:checked~.check {
    background-color: #35373b;

}

.check::before {

    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #35373b;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}

.switchBtn input:checked~.check::before {
    transform: translateX(-50px);
}

.check::after {

    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);
}

.switchBtn input:checked~.check::after {
    transform: translateX(0px);
}